{% extends "layout.html" %}

{% block body %}
Xin chào,<strong> {{user}} </strong>
<div class="l-container">
  <div class="b-game-card">
    <div class="b-game-card__cover" style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_1.jpg);"></div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover" style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_2.jpg);"></div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover" style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_3.jpg);"></div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover" style="background-image: url(https://andrewhawkes.github.io/codepen-assets/steam-game-cards/game_4.jpg);"></div>
  </div>
   <div class="b-game-card">
    <div class="b-game-card__cover" style="background-image: url(https://picsum.photos/id/1/300/500);"></div>
  </div>
   <div class="b-game-card">
    <div class="b-game-card__cover" style="background-image: url(https://picsum.photos/id/2/300/500);"></div>
  </div>
   <div class="b-game-card">
    <div class="b-game-card__cover" style="background-image: url(https://picsum.photos/id/3/300/500);"></div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover" style="background-image: url(https://picsum.photos/id/5/300/500);"></div>
  </div>
</div>
{% endblock body %}