{% extends "layout.html" %}

{% block body %}
<h2>Dashboard</h2>
<hr>
<p>
    Xin chào, <strong>{{request.user.username}}</strong>
</p>
<hr>
<a class = "btn btn-danger" href = "{% url 'article:addarticle' %}">Thêm bài viết </a>
<hr>
{% if articles %}
<table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Bài viết</th>
            <th scope="col">Tác giả</th>
            <th scope="col">Lần cập nhật cuối</th>
            <th scope="col">Cập nhật</th>
            <th scope="col">Xoá bài</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
          <tr>
            <th scope="row">{{article.id}}</th>
            <td><a href="{% url 'article:detail' article.id %}">{{article.title}}</a></td>
            <td>{{article.author.username}}</td>
            <td>{{article.created_date}}</td>
            <td><a href="{% url 'article:update' article.id %}" class = "btn btn-primary">Cập nhật</a></td>
            <td><a href="{% url 'article:delete' article.id %}" class = "btn btn-danger">Xoá bài</a> </td>
              
          </tr>
          {% endfor %}
          
        </tbody>
      </table>


{% else %}

<div class = "alert alert-danger">
    Bạn không có bài viết nào.

</div>
{% endif %}



{% endblock body %}

